.decoration-drawer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
}

.decoration-drawer {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(82, 61, 47, 0.83);
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.2);
  ul {
    list-style: none;
    li {
      margin: 0 5px;
    }
  }
  .available-decorations {
    display: flex;
  }

  .star {
    // Scale the star to make it fit within the drawer
    transform: scale(.7);
    transform-origin: bottom;
  }
}
