@import "bauble";
@import "star";

.decoration {
  z-index: 10;
  transition: opacity 300ms ease;
  &.removable {
    opacity: .6;
  }
}

.dragged-decorations {
  position: absolute;

  .decoration {
    position: fixed;
  }
}
