 @mixin branch($width, $height, $color) {
   border-left: $width solid transparent;
   border-right: $width solid transparent;
   border-bottom: $height solid $color;
 }

 .christmas-tree-container {
   position: absolute;
   bottom: calc(#{$floorHeight} - 20%); // Position the tree relative to the floor
   width: 100%;
   z-index: 9;
   text-align: center;

   @media(min-width: 768px) {
     bottom: calc(#{$floorHeight} - 10%); // Position the tree relative to the floor
   }
 }

.christmas-tree {
  position: relative;
  transform: scale(.8);
  transform-origin: bottom;
  display: inline-block;

  @media(min-width: 768px) {
    transform: scale(1);
  }
}

.christmas-tree__branche {
  width: 0;
  height: 0;
  margin: 0 auto;
  position: relative;
  transform-origin: bottom center;
  &--top {
    @include branch(80px, 140px, #1bba34);
    z-index: 3;
    & + .christmas-tree__branche-curve {
      width: 160px;
      height: 15px;
      border-radius: 0 0 50% 50%;
      background-color: #1bba34;
      margin: 0 auto;
      z-index: 3;
      position: relative;
    }
  }

  &--middle {
    @include branch(120px, 200px, darken(#1bba34, 2%));
    margin-top: -100px;
    z-index: 2;
    // transform: rotate(3deg);
    & + .christmas-tree__branche-curve {
      width: 240px;
      height: 20px;
      border-radius: 0 0 50% 50%;
      background-color: darken(#1bba34, 2%);
      margin: 0 auto;
      z-index: 2;
      position: relative;
    }
  }
  &--bottom {
    @include branch(160px, 300px, darken(#1bba34, 5%));
    margin-top: -170px;
    z-index: 1;
    // transform: rotate(-5deg);
    & + .christmas-tree__branche-curve {
      width: 320px;
      height: 30px;
      border-radius: 0 0 50% 50%;
      background-color: darken(#1bba34, 5%);
      margin: 0 auto;
      z-index: 1;
      position: relative;
    }
  }

}

.christmas-tree__trunk {
  // background-color: rgb(89, 59, 38);
  width: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  border-bottom: 50px solid rgb(89, 59, 38);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.christmas-tree__shadow {
  background-color: $colorShadow;
  width: 200px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: -15px;
  z-index: 0;
}
