 @mixin branch($width, $height, $color) {
   border-left: $width solid transparent;
   border-right: $width solid transparent;
   border-bottom: $height solid $color;
 }

 .christmas-tree-container {
   position: absolute;
   bottom: 20%;
   width: 100%;
 }

.christmas-tree {
  position: relative;
}

.christmas-tree__branche {
  // background-color: green;
  // width: 150px;
  // height: 150px;
  width: 0;
  height: 0;
  margin: 0 auto;
  position: relative;
  transform-origin: bottom center;
  &--top {
    @include branch(80px, 140px, rgb(27, 186, 52));
    & + .christmas-tree__branche-curve {
      width: 160px;
      height: 15px;
      border-radius: 0 0 50% 50%;
      background-color: rgb(27, 186, 52);
      margin: 0 auto;
    }
  }

  &--middle {
    @include branch(120px, 200px, rgb(27, 186, 52));
    margin-top: -100px;
    // transform: rotate(3deg);
    & + .christmas-tree__branche-curve {
      width: 240px;
      height: 20px;
      border-radius: 0 0 50% 50%;
      background-color: rgb(27, 186, 52);
      margin: 0 auto;
    }
  }
  &--bottom {
    @include branch(160px, 300px, rgb(27, 186, 52));
    margin-top: -170px;
    // transform: rotate(-5deg);
    & + .christmas-tree__branche-curve {
      width: 320px;
      height: 30px;
      border-radius: 0 0 50% 50%;
      background-color: rgb(27, 186, 52);
      margin: 0 auto;
    }
  }

}

.christmas-tree__trunk {
  background-color: rgb(89, 59, 38);
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.christmas-tree__shadow {
  background-color: $colorShadow;
  width: 200px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: -15px;
  z-index: 0;
}
